station1:
  name: A radio station
  url: http://some.radio.station:1234
station2:
  name: Another radio station
  url:
    # one of the urls will be chosen randomly
    - http://music.i.like.com:8000
    - http://another.url.com:80
